<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>refreshToken</key>
	<string>default</string>
	<key>userName</key>
	<string>Not Logged In</string>
	<key>accessToken</key>
	<string>default</string>
	<key>subredditList</key>
	<array>
		<string>test subreddit</string>
	</array>
</dict>
</plist>
